# Telegram Bot Token
BOT_TOKEN=1000000000:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
# 频道 ID 列表，用逗号分隔
CHANNEL_IDS=-1000000000000

# 本地 napcat http 服务器地址
NAPCAT_HTTP_URL=http://127.0.0.1:6100
# 目标 QQ 群号
QQ_GROUP_ID=1000000000
# 目标 QQ 号
QQ_ID=1000000000
# 目标 QQ 昵称
QQ_NICKNAME=Telegram-Channel-to-QQ
# 管理员 QQ 号
ADMIN_QQ_ID=1000000000

# Discord Bot API
DISCORD_BOT_TOKEN=AAA0AAa0AAAaAaa0AAaaAAA0AA.AAaaAA.A00AA0AAaAaAaa0A0aaAA_-a0AAA0AaAAAaAA0
DISCORD_CHANNEL_ID=1000000000000000000

# Feishu Bot API
FEISHU_APP_ID=cli_a00a0a00a0a00aa0
FEISHU_APP_SECRET=aAA0aAAa0AaAaaAaaaAaAa0AaAaaAAaa
FEISHU_RECEIVE_ID=oc_00a0a000000000000a0aa0a00a0000aa
FEISHU_RECEIVE_ID_TYPE=chat_id
FEISHU_WEBHOOK_URL=https://open.feishu.cn/open-apis/bot/v2/hook/a0a0a00a-aa0a-00a0-0000-0a000a00aa00
